---
import Card from '../../molecules/CardHelp.astro';
import icon1 from '/icons/help/icon1-orange.svg?raw';
import icon1Gradient from '/icons/help/icon1-gradient.svg?raw';
import icon1White from '/icons/help/icon1-white.svg?raw';
import icon2 from '/icons/help/icon2-orange.svg?raw';
import icon2Gradient from '/icons/help/icon2-gradient.svg?raw';
import icon2White from '/icons/help/icon2-white.svg?raw';
import icon3 from '/icons/help/icon3-orange.svg?raw';
import icon3Gradient from '/icons/help/icon3-gradient.svg?raw';
import icon3White from '/icons/help/icon3-white.svg?raw';
import icon4 from '/icons/help/icon4-orange.svg?raw';
import icon4Gradient from '/icons/help/icon4-gradient.svg?raw';
import icon4White from '/icons/help/icon4-white.svg?raw';
import icon5 from '/icons/help/icon5-orange.svg?raw';
import icon5Gradient from '/icons/help/icon5-gradient.svg?raw';
import icon5White from '/icons/help/icon5-white.svg?raw';
import icon6 from '/icons/help/icon6-orange.svg?raw';
import icon6Gradient from '/icons/help/icon6-gradient.svg?raw';
import icon6White from '/icons/help/icon6-white.svg?raw';

const cards = [
	{
		title: 'Ansiedade',
		description:
			'Sentiu ansiedade? Aprenda a acalmar seus pensamentos, encontrar clareza e viver com calma. Supere o sufocamento, lide com o pânico, diminua preocupações e recupere o controle. Não deixe a ansiedade impedir sua vida plena.',
		icon: icon1,
		iconWhite: icon1White,
		iconGradient: icon1Gradient,
	},
	{
		title: 'Relacionamentos',
		description:
			'Quer relacionamentos mais saudáveis e felizes? Supere a solidão, insegurança e conflitos. Aprenda a comunicar-se, construir confiança e estabelecer limites. Liberte-se do medo do abandono, da dependência e da traição. Nutra a intimidade e a conexão genuína.',
		icon: icon2,
		iconWhite: icon2White,
		iconGradient: icon2Gradient,
	},
	{
		title: 'Indecisão',
		description:
			'Sentindo-se perdido nas escolhas da vida? Encontre clareza e propósito. Supere a paralisia mental, a falta de foco e o receio de arrependimento. Tome decisões com confiança, alinhadas com seus valores. Não deixe a indecisão atrapalhar seu sucesso e realização pessoal.',
		icon: icon3,
		iconWhite: icon3White,
		iconGradient: icon3Gradient,
	},
	{
		title: 'Impusividade',
		description:
			'Cansado dos arrependimentos impulsivos? Recupere o controle das suas ações e emoções. Aprenda a agir com consciência, evitar autossabotagem e cultivar relacionamentos saudáveis. Supere a culpa e construa uma vida com escolhas positivas.',
		icon: icon4,
		iconWhite: icon4White,
		iconGradient: icon4Gradient,
	},
	{
		title: 'Inteligência Emocional/Autoestima',
		description:
			'Pronto para fortalecer sua autoestima e equilibrar suas emoções? Supere sentimentos de inutilidade, impaciência e autocrítica. Aprenda a gerenciar suas emoções de forma saudável. Construa relacionamentos significativos e estabeleça limites para seu bem-estar.',
		icon: icon5,
		iconWhite: icon5White,
		iconGradient: icon5Gradient,
	},
	{
		title: 'Depressão',
		description:
			'Lutando contra a depressão? Encontre luz e esperança. Supere o cansaço, a falta de motivação e pensamentos negativos. Reconecte-se com a alegria e vitalidade da vida. Busque apoio para superar a depressão e redescobrir a felicidade.',
		icon: icon6,
		iconWhite: icon6White,
		iconGradient: icon6Gradient,
	},
];
---

<script>
	import VanillaTilt from 'vanilla-tilt';
	const cards = Array.from(document.querySelectorAll('.helpCard')!);
	VanillaTilt.init(cards as HTMLElement[], {
		max: 12,
		speed: 300,
		glare: true,
		'max-glare': 0.2,
	});
</script>

<section id="ajuda" class="sectionHelp" data-aos="opacity">
	<div class="sectionTitle sectionHelp-title">
		<h2>Como posso te <span class="gradient">ajudar?</span></h2>
		<p>Você é prioridade.</p>
	</div>
	<ul class="sectionHelp-cards">
		{
			cards.map((card) => (
				<li>
					<div class="helpCard">
						<span class="helpCard__icon">
							<Fragment set:html={card.icon} />
						</span>
						<span class="helpCard__icon--white">
							<Fragment set:html={card.iconWhite} />
						</span>
						<span class="helpCard__icon--hover">
							<Fragment set:html={card.iconGradient} />
						</span>
						<h2>{card.title}</h2>
						<p>{card.description}</p>
					</div>
				</li>
			))
		}
	</ul>
</section>

<style lang="scss">
	@import '../../../styles/_mixins.scss';

	.sectionHelp {
		@include tablet {
			padding-left: 70px;
			padding-right: 70px;
		}

		@include desktop {
			padding-left: 32px;
			padding-right: 32px;
		}

		&-title {
			text-align: left;
			padding-left: 32px;
			padding-right: 32px;

			@include tablet {
				text-align: center;
				padding: 0;
			}
		}

		&-cards {
			display: flex;
			scroll-snap-type: x mandatory;
			overflow-x: scroll;
			scroll-behavior: smooth;
			gap: 6px;
			scrollbar-width: none;
			-ms-overflow-style: none;
			padding-left: 32px;
			padding-right: 32px;

			&::-webkit-scrollbar {
				display: none;
			}

			@include tablet {
				overflow-x: visible;
				display: grid;
				gap: 36px;
				margin-top: 20px;
				grid-template-columns: 1fr;
				grid-template-columns: repeat(2, 1fr);
				padding-left: 0;
				padding-right: 0;
			}

			@include desktop {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		.helpCard {
			background: var(--color-card-bg);
			padding: 24px;
			border-radius: 20px;
			cursor: pointer;
			width: 282px;
			height: 350px;
			gap: 8px;
			flex-shrink: 0;
			scroll-snap-align: center;
			cursor: default;

			@include tablet {
				width: fit-content;
				height: 220px;
			}

			@include desktop {
				height: 200px;

				&:hover {
					background: var(--color-card-bg-hover);
					box-shadow: 0px 0px 30px 5px var(--color-accent);
					transition: all 0.5s ease;
				}
			}

			&:hover {
				.helpCard__icon {
					display: none;
				}

				.helpCard__icon--hover {
					display: block;
				}
			}

			&__icon--hover {
				display: none;
			}

			&__icon--white {
				display: none;
			}

			h2 {
				font-size: 1.5rem;
				font-weight: 700;
				margin-bottom: 12px;
				color: var(--color-accent);
			}

			p {
				font-size: 1rem;
				color: var(--color-copy);
			}
		}
	}

	html[data-theme='dark'] {
		.sectionHelp {
			.helpCard {
				&__icon {
					display: none;
				}

				&__icon--white {
					display: block;
				}

				&:hover {
					.helpCard__icon--white {
						display: none;
					}
				}
			}
		}
	}
</style>
