---
import { Image } from 'astro:assets';
import image1 from '../../../assets/images/clinic/image1.jpg';
import image2 from '../../../assets/images/clinic/image2.jpg';
import image3 from '../../../assets/images/clinic/image3.jpg';
import image4 from '../../../assets/images/clinic/image4.jpg';
import image5 from '../../../assets/images/clinic/image5.jpg';
import image6 from '../../../assets/images/clinic/image6.jpg';
import image7 from '../../../assets/images/clinic/image7.jpg';
import image8 from '../../../assets/images/clinic/image8.jpg';
import image9 from '../../../assets/images/clinic/image9.jpg';

import icon1 from '/icons/clinic/icon1-orange.svg?raw';
import icon1Gradient from '/icons/clinic/icon1-gradient.svg?raw';
import icon1White from '/icons/clinic/icon1-white.svg?raw';
import icon2 from '/icons/clinic/icon2-orange.svg?raw';
import icon2Gradient from '/icons/clinic/icon2-gradient.svg?raw';
import icon2White from '/icons/clinic/icon2-white.svg?raw';
import icon3 from '/icons/clinic/icon3-orange.svg?raw';
import icon3Gradient from '/icons/clinic/icon3-gradient.svg?raw';
import icon3White from '/icons/clinic/icon3-white.svg?raw';
import icon4 from '/icons/clinic/icon4-orange.svg?raw';
import icon4Gradient from '/icons/clinic/icon4-gradient.svg?raw';
import icon4White from '/icons/clinic/icon4-white.svg?raw';

const items = [
	{
		title: 'Ambiente aconchegante',
		description:
			'Relaxe em nosso espaço moderno e aconchegante, projetado para promover o seu bem-estar desde o momento em que você entra.',
		type: '1',
		icon: icon1,
		iconGradient: icon1Gradient,
		iconWhite: icon1White,
	},
	{
		title: 'Estacionamento fácil',
		description:
			'Chegue sem preocupações com vaga. Oferecemos estacionamento conveniente para sua comodidade.',

		type: '2',
		icon: icon2,
		iconGradient: icon2Gradient,
		iconWhite: icon2White,
	},
	{
		title: 'Café de boas-vindas',
		description:
			'Desfrute de um café delicioso antes ou depois da consulta, em nossa área de café relaxante.',
		type: '3',
		icon: icon3,
		iconGradient: icon3Gradient,
		iconWhite: icon3White,
	},
	{
		title: 'Cadeira de massagem',
		description:
			'Desfrute de uma massagem relaxante antes ou depois da sua sessão para aliviar o estresse e preparar sua mente para a terapia.',
		type: '4',
		icon: icon4,
		iconGradient: icon4Gradient,
		iconWhite: icon4White,
	},
];

const images = [
	{
		src: image1,
		alt: 'Image',
		type: 'type-1',
	},
	{
		src: image2,
		alt: 'Image',
		type: 'type-1',
	},
	{
		src: image3,
		alt: 'Image',
		type: 'type-1',
	},
	{
		src: image4,
		alt: 'Image',
		type: 'type-3',
	},
	{
		src: image5,
		alt: 'Image',
		type: 'type-2',
	},
	{
		src: image6,
		alt: 'Image',
		type: 'type-3',
	},
	{
		src: image7,
		alt: 'Image',
		type: 'type-4',
	},
	{
		src: image8,
		alt: 'Image',
		type: 'type-1',
	},
	{
		src: image9,
		alt: 'Image',
		type: 'type-1',
	},
];
---

<script>
	document.querySelectorAll<HTMLElement>('.sectionClinic-content-list-item').forEach((item) => {
		item.addEventListener('mouseover', () => {
			document.querySelector<HTMLElement>('.sectionClinic-gallery')!.classList.add('highlight');
			const dataType = item.dataset.type;
			const classType = `.type-${dataType}`;
			document.querySelectorAll(classType).forEach((image) => {
				image.classList.add('highlight');
			});
		});

		item.addEventListener('mouseout', () => {
			document.querySelector<HTMLElement>('.sectionClinic-gallery')!.classList.remove('highlight');
			const dataType = item.dataset.type;
			const classType = `.type-${dataType}`;
			document.querySelectorAll(classType).forEach((image) => {
				image.classList.remove('highlight');
			});
		});
	});
</script>

<section id="clinica" class="sectionClinic" data-aos="opacity">
	<div class="sectionTitle sectionClinic-title">
		<h2>Explore a <span class="gradient">Clínica</span></h2>
		<p>Ambiente acolhedor e moderno</p>
	</div>

	<div class="sectionClinic-content">
		<p class="sectionClinic-content__description">
			Em meu consultório acolhedor e seguro, ofereço um espaço para você explorar seus pensamentos,
			sentimentos e comportamentos em um ambiente de total confidencialidade e respeito.
		</p>
		<ul class="sectionClinic-content-list">
			{
				items.map((item) => (
					<li class="sectionClinic-content-list-item" data-type={item.type}>
						<span class="sectionClinic-content-list-item__icon">
							<Fragment set:html={item.icon} />
						</span>
						<span class="sectionClinic-content-list-item__icon--white">
							<Fragment set:html={item.iconWhite} />
						</span>
						<span class="sectionClinic-content-list-item__icon--hover">
							<Fragment set:html={item.iconGradient} />
						</span>
						<h3>{item.title}</h3>
						<p>{item.description}</p>
					</li>
				))
			}
		</ul>
	</div>

	<ul class="sectionClinic-gallery">
		{
			images.map((image) => (
				<li class={image.type}>
					<Image src={image.src} alt={image.alt} />
				</li>
			))
		}
	</ul>
</section>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.sectionClinic {
		padding-left: 32px;
		padding-right: 32px;
		grid-template-columns: minmax(0, 1fr);
		display: grid;
		grid-template-areas: 'title' 'gallery' 'content';

		@include tablet {
			padding-left: 70px;
			padding-right: 70px;
		}

		@include desktop {
			padding-left: 32px;
			padding-right: 32px;
			column-gap: 60px;
			grid-template-rows: 1fr 2fr;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			grid-template-areas:
				'title gallery'
				'content gallery';

			@include desktop {
				align-items: center;
			}
		}

		&-title {
			grid-area: title;

			@include desktop {
				align-self: end;
			}
		}

		&-content {
			grid-area: content;
			color: var(--color-copy);

			@include desktop {
				align-self: start;
			}

			&__description {
				font-size: 1.25rem;
				margin: 40px 0;

				@include desktop {
					max-width: 580px;
					margin: 0 0 70px 0;
				}
			}

			&-list {
				display: grid;
				grid-template-columns: minmax(0, 1fr);
				grid-gap: 40px;

				@include tablet {
					grid-template-columns: repeat(2, minmax(0, 1fr));
				}

				&-item {
					cursor: pointer;

					&:hover {
						h3 {
							color: var(--color-accent);
							transition: color 0.5s;
						}
					}

					&__icon--hover {
						display: none;
					}

					&__icon--white {
						display: none;
					}

					@include desktop {
						max-width: 300px;
					}

					h3 {
						padding-top: 20px;
						font-size: 1.25rem;
						font-weight: 700;
						margin-bottom: 0.5rem;
					}
				}
			}
		}

		&-gallery {
			grid-area: gallery;
			display: flex;
			scroll-snap-type: x mandatory;
			overflow-x: scroll;
			scroll-behavior: smooth;
			gap: 6px;
			scrollbar-width: none;
			-ms-overflow-style: none;

			@include desktop {
				overflow: visible;
			}

			li {
				width: 282px;
				height: 340px;
				flex-shrink: 0;
				scroll-snap-align: center;
				cursor: default;

				@include tablet {
					width: fit-content;
					height: 350px;
				}

				@include desktop {
					width: 100%;
					height: 100%;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 10px;
					transition: all 0.5s;
				}
			}

			@include desktop {
				display: grid;
				grid-template-columns: repeat(12, minmax(0, 1fr));
				grid-template-rows: repeat(14, 1fr);
				gap: 1rem;
				height: 1000px;

				li {
					cursor: pointer;
				}

				&:hover {
					li:not(:hover) {
						img {
							filter: brightness(0.3);
						}
					}
				}

				&.highlight {
					li.highlight {
						img {
						}
					}
					li:not(.highlight) {
						img {
							filter: brightness(0.3);
						}
					}
				}

				li:nth-child(1) {
					grid-column: 1 / 5;
					grid-row: 2 / 6;
				}

				li:nth-child(2) {
					grid-column: 5 / 9;
					grid-row: 1 / 5;
				}

				li:nth-child(3) {
					grid-column: 9 / 13;
					grid-row: 3 / 7;
				}

				li:nth-child(4) {
					grid-column: 1 / 5;
					grid-row: 6 / 10;
				}

				li:nth-child(5) {
					grid-column: 5 / 9;
					grid-row: 5 / 9;
				}

				li:nth-child(6) {
					grid-column: 9 / 13;
					grid-row: 7 / 11;
				}

				li:nth-child(7) {
					grid-column: 1 / 5;
					grid-row: 10 / 14;
				}

				li:nth-child(8) {
					grid-column: 5 / 9;
					grid-row: 9 / 13;
				}

				li:nth-child(9) {
					grid-column: 9 / 13;
					grid-row: 11 / 15;
				}
			}
		}
	}

	html[data-theme='dark'] {
		.sectionClinic {
			&-content {
				&-item {
					&__icon {
						display: none;
					}

					&__icon--white {
						display: block;
					}
				}
			}
		}
	}
</style>
