---
import instagram from '/icons/instagram-gradient.svg?raw';
import arrow from '/icons/arrow-gradient.svg?raw';
import { Image } from 'astro:assets';
import image1 from '../../../assets/images/instagram/image1.jpg';
import image2 from '../../../assets/images/instagram/image2.jpg';
import image3 from '../../../assets/images/instagram/image3.jpg';
import image4 from '../../../assets/images/instagram/image4.jpg';
import image5 from '../../../assets/images/instagram/image5.jpg';
import image6 from '../../../assets/images/instagram/image6.jpg';
import image7 from '../../../assets/images/instagram/image7.jpg';
import image8 from '../../../assets/images/instagram/image8.jpg';
import image9 from '../../../assets/images/instagram/image9.jpg';

const items = [
	{
		img: image1,
		alt: 'Post do Instagram do psicólogo Marlon',
		link: 'https://www.instagram.com/p/C69SFPsuZaT/',
	},

	{
		img: image2,
		alt: 'Post do Instagram do psicólogo Marlon',
		link: 'https://www.instagram.com/p/C5RYLQAuiTx/',
	},

	{
		img: image3,
		alt: 'Post do Instagram do psicólogo Marlon',
		link: 'https://www.instagram.com/p/C30pwLHOYJC/',
	},

	{
		img: image4,
		alt: 'Post do Instagram do psicólogo Marlon',
		link: 'https://www.instagram.com/p/C2sB__srj03/',
	},

	{
		img: image5,
		alt: 'Post do Instagram do psicólogo Marlon',
		link: 'https://www.instagram.com/p/C3hyw4jOz6z/?img_index=1',
	},

	{
		img: image6,
		alt: 'Post do Instagram do psicólogo Marlon',
		link: 'https://www.instagram.com/p/C50qmAMuGmo/',
	},

	{
		img: image7,
		alt: 'Post do Instagram do psicólogo Marlon',
		link: 'https://www.instagram.com/p/C4qcSRBu7f9/',
	},

	{
		img: image8,
		alt: 'Post do Instagram do psicólogo Marlon',
		link: 'https://www.instagram.com/p/C75UQnptKBE/',
	},

	{
		img: image9,
		alt: 'Post do Instagram do psicólogo Marlon',
		link: 'https://www.instagram.com/p/C35CfmtOyd1/',
	},
];
---

<script>
	import Swiper from 'swiper';
	import 'swiper/css';

	const swiper = new Swiper('.swiper', {
		loop: true,
		slidesPerView: 1.5,
		updateOnWindowResize: true,
		grabCursor: false,
		centeredSlides: true,
		shortSwipes: true,
		speed: 500,
		breakpoints: {
			1024: {
				slidesPerView: 5,
			},
		},
	});

	document
		.querySelector<HTMLElement>('.sectionInstagram-title-controls__prev')!
		.addEventListener('click', () => {
			swiper.slidePrev();
		});

	document
		.querySelector<HTMLElement>('.sectionInstagram-title-controls__next')!
		.addEventListener('click', () => {
			swiper.slideNext();
		});
</script>

<section class="sectionInstagram" data-aos="opacity">
	<div class="sectionTitle sectionInstagram-title">
		<div>
			<a href="https://www.instagram.com/psi.marlon/" target="_blank" aria-label="Instagram">
				<Fragment set:html={instagram} />
			</a>
			<h2>Acompanhe o meu trabalho no <span class="gradient">Instagram</span></h2>
			<p>Conheça mais sobre quem sou eu.</p>
		</div>
		<div class="sectionInstagram-title-controls">
			<button
				class="sectionInstagram-title-controls__prev"
				aria-label="Mostrar proxímo item no carrosel"
			>
				<Fragment set:html={arrow} />
			</button>
			<button
				class="sectionInstagram-title-controls__next"
				aria-label="Mostrar item anterior no carrosel"
			>
				<Fragment set:html={arrow} />
			</button>
		</div>
	</div>

	<div class="swiper">
		<div class="swiper-wrapper">
			{
				items.map((item) => (
					<a class="swiper-slide" href={item.link} target="_blank">
						<Image src={item.img} alt={item.alt} />
					</a>
				))
			}
		</div>
	</div>

	<style lang="scss">
		@import 'src/styles/_mixins.scss';
		.sectionInstagram {
			padding-left: 32px;
			padding-right: 32px;
			text-align: left;

			@include tablet {
				padding-left: 70px;
				padding-right: 70px;
			}

			@include desktop {
				padding-left: 32px;
				padding-right: 32px;
			}

			&-title {
				display: flex;
				justify-content: space-between;
				align-items: end;

				&-controls {
					display: none;

					@include desktop {
						display: flex;
						gap: 50px;
					}

					button {
						cursor: pointer;
						background: none;
						border: none;

						&.sectionInstagram-title-controls__next {
							transform: rotateY(180deg);
						}
					}
				}

				h2 {
					margin-top: 24px;

					@include desktop {
						width: 500px;
					}
				}
			}

			.swiper {
				padding: 30px 0;
				height: 340px;

				@include tablet {
					height: 450px;
				}

				@include desktop {
					height: 400px;
				}

				.swiper-slide {
					cursor: pointer;

					&-active {
						transition: all 0.5s;
						z-index: 1;

						img {
							outline: 6px solid var(--color-accent);
						}
					}

					&:not(.swiper-slide-active) {
						transform: scale(0.9);
						filter: brightness(0.4);
						transition: all 0.5s;
					}

					img {
						border-radius: 20px;
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
					}
				}

				.swiper-button-next {
					color: var(--color-accent);
					display: none;
					right: 50px;
					transition: all 0.5s;

					@include desktop {
						display: block;
					}

					&:hover {
						transform: scale(1.2);
						transition: all 0.5s;
					}
				}

				.swiper-button-prev {
					color: var(--color-accent);
					display: none;
					left: 50px;
					transition: all 0.5s;

					@include desktop {
						display: block;
					}

					&:hover {
						transform: scale(1.2);
						transition: all 0.5s;
					}
				}
			}
		}
	</style>
</section>
