---
import Card from '../../molecules/CardReview.astro';

const reviews = [
	{
		name: 'Guilherme',
		review:
			'Recepção acolhedora com um sorriso amigo! Mais que uma sessão de psicoterapia, é um momento para descontrair e explorar as nossas demandas psicológicas. Excelente profissional!! Recomendo 🤜🏻🤛🏻',
	},
	{
		name: 'Lucas P.',
		review:
			'Marlon é um psicólogo de muito profissionalismo e ética, sempre pronto a atender às necessidades de seus pacientes. Recomendo muito!',
	},
	{
		name: 'Fábio I.',
		review:
			'Encontrei o psicólogo Marlon justamente pela busca do Google e me surpreendi positivamente! Ele é um terapeuta muito habilidoso, tem conhecimento sólido da abordagem e sabe muito bem como aplicar as ferramentas terapêuticas. As sessões são ótimas, agradáveis e ele respeita muito os limites do paciente, além de valorizar aquilo que o cliente já traz consigo de bom. Está sendo uma experiência muito rica a psicoterapia com o psicólogo Marlon.',
	},
	{
		name: 'Débora C.',
		review:
			'É muito bom ser atendida pelo Dr. Marlon, ele consegue me fazer entender muitas coisas sobre mim que antes, na minha visão, eram impossíveis. A capacidade dele de criar uma conexão significativa e facilitar a compreensão de aspectos pessoais é uma virtude. Alinhada com a dedicação de auxiliar, ele transmite confiança e destaca a qualidade do seu trabalho. Para quem busca autoconhecimento e crescimento emocional, ele é um profissional valioso que impacta positivamente a vida das pessoas. Obrigada, Dr. Marlon🤗',
	},
];
const reviews2 = [
	{
		name: 'Ana M.',
		review:
			'Excelente profissional. Ao unir o interesse do paciente e a pontualidade no diagnóstico, o trabalho não poderia ser diferente. Agradeço pelo profissionalismo.',
	},
	{
		name: 'Igor V.',
		review:
			'Além do consultório ser um ambiente agradável e aconchegante para as consultas, o psicólogo Marlon é um profissional muito dedicado e confiante no que faz. Ele possui uma linguagem clara e fácil de compreender. Isso facilita para que possamos pôr em prática as "tarefas" que ele nos propõe para que possamos, aos poucos, alcançar nossos objetivos. A abordagem que ele utiliza, a Terapia Cognitivo-Comportamental, ajuda a ter pensamentos mais objetivos e realistas. Dessa forma, pode tratar vários tipos de problemas psicológicos, como no meu caso de Fobia Social, Compulsões e TDAH.',
	},
	{
		name: 'Gabriel C.',
		review:
			'Adoro as sessões com o Marlon, já tem muito tempo que faço e ainda saio com aquela sensação de leveza. Ele tem abordagens muito claras e eficazes; no meu caso, a cognitivo-comportamental é super objetiva. Em todas as sessões, tenho alguma tarefa a fazer que gera reflexões e uma paz de espírito impagável. De resto, nem se fala: sobre o consultório e as sessões online, está tudo perfeito.',
	},
];
---

<script>
	const sectionReviews = document.querySelectorAll<HTMLElement>(
		'.sectionReviews-container__reviews'
	);
	let isPaused = false;
	sectionReviews.forEach((element) => {
		element.addEventListener('mouseover', () => {
			element.style.animationPlayState = 'paused';
		});
		element.addEventListener('mouseleave', () => {
			element.style.animationPlayState = 'running';
		});

		element.addEventListener('click', () => {
			if (isPaused) {
				element.style.animationPlayState = 'running';
				isPaused = false;
			} else {
				element.style.animationPlayState = 'paused';
				isPaused = true;
			}
		});
	});
</script>

<section class="sectionReviews" data-aos="opacity">
	<div class="sectionTitle sectionReviews-title">
		<h2>Conheça os nossos <span class="gradient">Pacientes</span></h2>
		<p>E entenda como foram ajudados.</p>
	</div>

	<div class="sectionReviews-container">
		<ul class="sectionReviews-container__reviews">
			{
				reviews.map((review) => (
					<li>
						<Card name={review.name} review={review.review} />
					</li>
				))
			}
			{
				reviews.map((review) => (
					<li>
						<Card name={review.name} review={review.review} />
					</li>
				))
			}
		</ul>
		<div class="sectionReviews-container__fade"></div>
	</div>

	<div class="sectionReviews-container show-desktop">
		<ul class="sectionReviews-container__reviews sectionReviews-container__reviews--reverse">
			{
				reviews2.map((review) => (
					<li>
						<Card name={review.name} review={review.review} />
					</li>
				))
			}
			{
				reviews2.map((review) => (
					<li>
						<Card name={review.name} review={review.review} />
					</li>
				))
			}
		</ul>
		<div class="sectionReviews-container__fade"></div>
	</div>
</section>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.sectionReviews {
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		gap: 8px;
		padding: 80px 0 80px 0;
		background: #212529;

		@include tablet {
			padding: 70px 0 70px 0;
			background: initial;
		}

		@include desktop {
			padding: 120px 32px 120px 32px;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 25px;
			height: 830px;
			align-items: center;
		}

		&-title {
			padding-left: 32px;
			padding-right: 32px;

			@include tablet {
				padding-left: 70px;
				padding-right: 70px;
			}

			@include desktop {
				padding-left: 0;
				padding-right: 0;
				width: 400px;
				margin-bottom: 0px;
			}

			p {
				color: white;

				@include tablet {
					color: var(--color-copy);
				}
			}

			h2 {
				color: white;

				@include tablet {
					color: var(--color-title);
				}
			}
		}

		&-container {
			position: relative;
			overflow: hidden;

			@include desktop {
				height: 830px;
			}

			&.show-desktop {
				display: none;

				@include desktop {
					display: block;
				}
			}

			&__reviews {
				display: flex;
				flex-direction: row;
				gap: 8px;
				margin: 0;
				animation: 40s slideHorizontal infinite linear;
				width: fit-content;

				@include desktop {
					flex-direction: column;
					gap: 40px;
					animation: 40s slideVertical infinite linear;
				}

				&--reverse {
					animation: 40s slideHorizontalReverse infinite linear;
					@include desktop {
						animation: 40s slideVerticalReverse infinite linear;
					}
				}
			}

			&__fade {
				pointer-events: none;
				position: absolute;
				inset: 0;

				background: var(--color-review-gradient-mobile);

				@include tablet {
					background: var(--color-review-gradient-tablet);
				}

				@include desktop {
					background: var(--color-review-gradient);
				}
			}
		}

		@keyframes slideHorizontal {
			from {
				transform: translateX(0);
			}
			to {
				transform: translateX(calc(-50% - 4px));
			}
		}

		@keyframes slideHorizontalReverse {
			from {
				transform: translateX(calc(-50% - 4px));
			}
			to {
				transform: translateX(0);
			}
		}

		@keyframes slideVertical {
			from {
				transform: translateY(0);
			}
			to {
				transform: translateY(calc(-50% - 4px));
			}
		}

		@keyframes slideVerticalReverse {
			from {
				transform: translateY(calc(-50% - 4px));
			}
			to {
				transform: translateY(0);
			}
		}
	}
</style>
