---
import instagram from '/icons/instagram-gradient.svg?raw';
import arrow from '/icons/arrow-gradient.svg?raw';

const items = [
	{
		img: 'https://placehold.co/600x600/orange/white',
		alt: 'Image 1',
		link: 'https://www.instagram.com/',
	},

	{
		img: 'https://placehold.co/600x600/blue/white',
		alt: 'Image 2',
		link: 'https://www.instagram.com/',
	},

	{
		img: 'https://placehold.co/600x600/red/white',
		alt: 'Image 3',
		link: 'https://www.instagram.com/',
	},

	{
		img: 'https://placehold.co/600x600/green/white',
		alt: 'Image 4',
		link: 'https://www.instagram.com/',
	},

	{
		img: 'https://placehold.co/600x600/black/white',
		alt: 'Image 5',
		link: 'https://www.instagram.com/',
	},

	{
		img: 'https://placehold.co/600x600/black/white',
		alt: 'Image 6',
		link: 'https://www.instagram.com/',
	},

	{
		img: 'https://placehold.co/600x600/black/white',
		alt: 'Image 7',
		link: 'https://www.instagram.com/',
	},

	{
		img: 'https://placehold.co/600x600/black/white',
		alt: 'Image 8',
		link: 'https://www.instagram.com/',
	},

	{
		img: 'https://placehold.co/600x600/black/white',
		alt: 'Image 9',
		link: 'https://www.instagram.com/',
	},

	{
		img: 'https://placehold.co/600x600/black/white',
		alt: 'Image 10',
		link: 'https://www.instagram.com/',
	},
];
---

<script>
	import Swiper from 'swiper';
	import 'swiper/css';

	const swiper = new Swiper('.swiper', {
		loop: true,
		slidesPerView: 1.5,
		updateOnWindowResize: true,
		grabCursor: false,
		centeredSlides: true,
		shortSwipes: true,
		speed: 500,
		breakpoints: {
			1024: {
				slidesPerView: 5,
			},
		},
	});

	document
		.querySelector<HTMLElement>('.sectionInstagram-title-controls__prev')!
		.addEventListener('click', () => {
			swiper.slidePrev();
		});

	document
		.querySelector<HTMLElement>('.sectionInstagram-title-controls__next')!
		.addEventListener('click', () => {
			swiper.slideNext();
		});
</script>

<section class="sectionInstagram">
	<div class="sectionTitle sectionInstagram-title">
		<div>
			<Fragment set:html={instagram} />
			<h2>Acompanhe o meu trabalho no <span class="gradient">Instagram</span></h2>
			<p>Conheça mais sobre quem sou eu.</p>
		</div>
		<div class="sectionInstagram-title-controls">
			<button class="sectionInstagram-title-controls__prev">
				<Fragment set:html={arrow} />
			</button>
			<button class="sectionInstagram-title-controls__next">
				<Fragment set:html={arrow} />
			</button>
		</div>
	</div>

	<div class="swiper">
		<div class="swiper-wrapper">
			{
				items.map((item) => (
					<a class="swiper-slide" href={item.link}>
						<img src={item.img} alt={item.alt} />
					</a>
				))
			}
		</div>
	</div>

	<style lang="scss">
		@import 'src/styles/_mixins.scss';
		.sectionInstagram {
			padding-left: 32px;
			padding-right: 32px;
			max-width: 1480px;
			margin-right: auto;
			margin-left: auto;
			text-align: left;

			@include tablet {
				padding-left: 70px;
				padding-right: 70px;
			}

			@include desktop {
				padding-left: 32px;
				padding-right: 32px;
			}

			&-title {
				display: flex;
				justify-content: space-between;
				align-items: end;

				&-controls {
					display: none;

					@include desktop {
						display: flex;
						gap: 50px;
					}

					button {
						cursor: pointer;
						background: none;
						border: none;

						&.sectionInstagram-title-controls__next {
							transform: rotateY(180deg);
						}
					}
				}

				h2 {
					margin-top: 24px;

					@include desktop {
						width: 500px;
					}
				}
			}

			.swiper {
				padding: 30px 0;
				height: 400px;

				.swiper-slide {
					cursor: pointer;

					&-active {
						transition: all 0.5s;
						z-index: 1;

						img {
							outline: 6px solid var(--color-accent);
						}
					}

					&:not(.swiper-slide-active) {
						transform: scale(0.9);
						filter: brightness(0.4);
						transition: all 0.5s;
					}

					img {
						border-radius: 20px;
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
					}
				}

				.swiper-button-next {
					color: var(--color-accent);
					display: none;
					right: 50px;
					transition: all 0.5s;

					@include desktop {
						display: block;
					}

					&:hover {
						transform: scale(1.2);
						transition: all 0.5s;
					}
				}

				.swiper-button-prev {
					color: var(--color-accent);
					display: none;
					left: 50px;
					transition: all 0.5s;

					@include desktop {
						display: block;
					}

					&:hover {
						transform: scale(1.2);
						transition: all 0.5s;
					}
				}
			}
		}
	</style>
</section>
