---
const items = [
	{
		title: 'Evolucao pessoal',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sed mauris eu dignissim. Nunc commodo efficitur hendrerit.',
		type: '1',
	},
	{
		title: 'Evolucao pessoal',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sed mauris eu dignissim. Nunc commodo efficitur hendrerit.',
		type: '2',
	},
	{
		title: 'Evolucao pessoal',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sed mauris eu dignissim. Nunc commodo efficitur hendrerit.',

		type: '3',
	},
	{
		title: 'Evolucao pessoal',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sed mauris eu dignissim. Nunc commodo efficitur hendrerit.',

		type: '4',
	},
];

const images = [
	{
		src: 'https://placehold.co/600x600/red/white?text=1',
		alt: 'Image',
		type: 'type-1',
	},
	{
		src: 'https://placehold.co/600x600/blue/white?text=2',
		alt: 'Image',
		type: 'type-1',
	},
	{
		src: 'https://placehold.co/600x600/green/white?text=3',
		alt: 'Image',
		type: 'type-2',
	},
	{
		src: 'https://placehold.co/600x600/purple/white?text=4',
		alt: 'Image',
		type: 'type-2',
	},
	{
		src: 'https://placehold.co/600x600/black/white?text=5',
		alt: 'Image',
		type: 'type-2',
	},
	{
		src: 'https://placehold.co/600x600/grey/white?text=6',
		alt: 'Image',
		type: 'type-3',
	},
	{
		src: 'https://placehold.co/600x600/orange/white?text=7',
		alt: 'Image',
		type: 'type-3',
	},
	{
		src: 'https://placehold.co/600x600/brown/white?text=8',
		alt: 'Image',
		type: 'type-4',
	},
	{
		src: 'https://placehold.co/600x600/cyan/white?text=9',
		alt: 'Image',
		type: 'type-4',
	},
];
---

<script>
	import baguetteBox from 'baguettebox.js';

	document.querySelectorAll<HTMLElement>('.sectionClinic-content-list-item').forEach((item) => {
		item.addEventListener('mouseover', () => {
			document.querySelector<HTMLElement>('.sectionClinic-gallery')!.classList.add('highlight');
			const dataType = item.dataset.type;
			const classType = `.type-${dataType}`;
			document.querySelectorAll(classType).forEach((image) => {
				image.classList.add('highlight');
			});
		});

		item.addEventListener('mouseout', () => {
			document.querySelector<HTMLElement>('.sectionClinic-gallery')!.classList.remove('highlight');
			const dataType = item.dataset.type;
			const classType = `.type-${dataType}`;
			document.querySelectorAll(classType).forEach((image) => {
				image.classList.remove('highlight');
			});
		});
	});

	baguetteBox.run('.sectionClinic-gallery');
</script>

<section class="sectionClinic" data-aos="opacity">
	<div class="sectionTitle sectionClinic-title">
		<h2>Explore a <span class="gradient">Clínica</span></h2>
		<p>Ambiente acolhedor e moderno</p>
	</div>

	<div class="sectionClinic-content">
		<p class="sectionClinic-content__description">
			Nosso espaço de psicoterapia oferece um ambiente moderno e aconchegante, com cadeira de
			massagem para relaxamento, estacionamento conveniente e uma área de café para desfrutar antes
			ou depois da consulta. Priorizamos seu conforto e bem-estar físico e mental em cada visita.
		</p>
		<ul class="sectionClinic-content-list">
			{
				items.map((item) => (
					<li class="sectionClinic-content-list-item" data-type={item.type}>
						<h3>{item.title}</h3>
						<p>{item.description}</p>
					</li>
				))
			}
		</ul>
	</div>

	<ul class="sectionClinic-gallery">
		{
			images.map((image) => (
				<li class={image.type}>
					<img src={image.src} alt={image.alt} />
				</li>
			))
		}
	</ul>
</section>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.sectionClinic {
		padding-left: 32px;
		padding-right: 32px;
		grid-template-columns: minmax(0, 1fr);
		display: grid;
		grid-template-areas: 'title' 'gallery' 'content';

		@include tablet {
			padding-left: 70px;
			padding-right: 70px;
		}

		@include desktop {
			padding-left: 32px;
			padding-right: 32px;
			column-gap: 60px;
			grid-template-rows: 1fr 4fr;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			grid-template-areas:
				'title gallery'
				'content gallery';
		}

		&-title {
			grid-area: title;
		}

		&-content {
			grid-area: content;
			color: var(--color-copy);

			&__description {
				font-size: 1.25rem;
				margin: 40px 0;

				@include desktop {
					max-width: 580px;
					margin: 0 0 70px 0;
				}
			}

			&-list {
				display: grid;
				grid-template-columns: minmax(0, 1fr);
				grid-gap: 40px;

				@include tablet {
					grid-template-columns: repeat(2, minmax(0, 1fr));
				}

				&-item {
					cursor: pointer;

					&:hover {
						h3 {
							color: var(--color-accent);
							transition: color 0.5s;
						}
					}

					@include desktop {
						max-width: 300px;
					}

					h3 {
						font-size: 1.25rem;
						font-weight: 700;
						margin-bottom: 0.5rem;
					}
				}
			}
		}

		&-gallery {
			grid-area: gallery;
			display: flex;
			scroll-snap-type: x mandatory;
			overflow-x: scroll;
			scroll-behavior: smooth;
			gap: 6px;
			scrollbar-width: none;
			-ms-overflow-style: none;

			@include desktop {
				overflow: visible;
			}

			li {
				width: 282px;
				height: 340px;
				flex-shrink: 0;
				scroll-snap-align: center;
				cursor: default;

				@include tablet {
					width: fit-content;
					height: 475px;
				}

				@include desktop {
					width: 100%;
					height: 100%;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 10px;
					transition: all 0.5s;
				}
			}

			@include desktop {
				display: grid;
				grid-template-columns: repeat(12, minmax(0, 1fr));
				grid-template-rows: repeat(14, 1fr);
				gap: 1rem;
				height: 1000px;

				&.highlight {
					li.highlight {
						img {
						}
					}
					li:not(.highlight) {
						img {
							filter: brightness(0.3);
						}
					}
				}

				li:nth-child(1) {
					grid-column: 1 / 5;
					grid-row: 2 / 6;
				}

				li:nth-child(2) {
					grid-column: 5 / 9;
					grid-row: 1 / 5;
				}

				li:nth-child(3) {
					grid-column: 9 / 13;
					grid-row: 3 / 7;
				}

				li:nth-child(4) {
					grid-column: 1 / 5;
					grid-row: 6 / 10;
				}

				li:nth-child(5) {
					grid-column: 5 / 9;
					grid-row: 5 / 9;
				}

				li:nth-child(6) {
					grid-column: 9 / 13;
					grid-row: 7 / 11;
				}

				li:nth-child(7) {
					grid-column: 1 / 5;
					grid-row: 10 / 14;
				}

				li:nth-child(8) {
					grid-column: 5 / 9;
					grid-row: 9 / 13;
				}

				li:nth-child(9) {
					grid-column: 9 / 13;
					grid-row: 11 / 15;
				}
			}
		}
	}
</style>
