---
import star from '/icons/star-gradient.svg?raw';
import quotes from '/icons/quotes-gradient.svg?raw';

const { name, review } = Astro.props;
---

<div class="cardReview">
	<p class="cardReview_stars">
		<Fragment set:html={star} />
		<Fragment set:html={star} />
		<Fragment set:html={star} />
		<Fragment set:html={star} />
		<Fragment set:html={star} />
	</p>
	<p class="cardReview__name">{name}</p>
	<p class="cardReview__icon">
		<Fragment set:html={quotes} />
	</p>
	<p class="cardReview__review">{review}</p>
</div>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.cardReview {
		padding: 32px 24px;
		border-radius: 20px;
		background: var(--color-card-bg);
		display: flex;
		flex-direction: column;
		gap: 12px;
		width: 280px;
		height: 350px;

		@include tablet {
			width: 320px;
		}

		@include desktop {
			gap: 24px;
			height: 100%;
			width: initial;
		}

		&__name {
			font-size: 1rem;
			font-weight: 600;
			color: var(--color-title);

			@include tablet {
				font-size: 1.5rem;
			}
		}

		&__review {
			color: var(--color-copy);
			font-size: 0.875rem;

			@include tablet {
				font-size: 1rem;
			}
		}
	}
</style>
