---
import Button from '../atoms/Button.astro';
import logo from '/icons/logo.svg?raw';
import moon from '/icons/moon-filled.svg?raw';
import linkedin from '/icons/linkedin.svg?raw';
import instagram from '/icons/instagram.svg?raw';
import whatsapp from '/icons/whatsapp.svg?raw';
import pin from '/icons/pin.svg?raw';
import phone from '/icons/phone.svg?raw';

const title = {
	highlight: 'Se identificou ',
	text: 'com algo que leu?',
};
const subtitle = `Vamos cuidar de você?
<br>Entre em contato,estarei à sua disposição.
<br>Perguntas e problemas não devem ser ignorados, por menores que você acha que sejam.
`;
const cta = {
	text: 'Entrar em contato',
};
---

<footer>
	<div class="footer">
		<h2 class="footer__title"><span class="gradient">{title.highlight}</span>{title.text}</h2>
		<p class="footer__subtitle" set:html={subtitle} />
		<Button text={cta.text} fullWidth={true} />
		<ul class="footer-links">
			<li>
				<a
					href="https://br.linkedin.com/in/marlon-andrade-7062021a2"
					target="_blank"
					aria-label="Linkedin"
				>
					<Fragment set:html={linkedin} />
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/psi.marlon/" target="_blank" aria-label="Instagram">
					<Fragment set:html={instagram} />
				</a>
			</li>
			<li>
				<a
					href="https://api.whatsapp.com/send?phone=5562981261406&text=Ol%C3%A1%2C%20eu%20gostaria%20de%20agendar%20uma%20sess%C3%A3o"
					target="_blank"
					aria-label="Whatsapp"
				>
					<Fragment set:html={whatsapp} />
				</a>
			</li>
			<li>
				<button class="changeThemeBtn" aria-label="Mudar tema">
					<Fragment set:html={moon} />
				</button>
			</li>
		</ul>
		<ul class="footer__info">
			<li>
				<a target="_blank" href="https://maps.app.goo.gl/m6ih8AJR7uRjBG2z9">
					<Fragment set:html={pin} />
					<span>Clínica Story<br />R. 1134, 120 - St. Marista,<br /> Goiânia - GO, 74180-130</span>
				</a>
			</li>
			<li>
				<a href="tel:+5562998653631">
					<Fragment set:html={phone} />
					<span>(62) 99865-3631</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="footer__logo">
		<Fragment set:html={logo} />
	</div>
</footer>

<style lang="scss">
	@import '../../styles/_mixins.scss';

	footer {
		background: var(--color-footer-bg);
		position: relative;
		overflow: hidden;

		@include desktop {
			width: 100vw;
		}

		.footer {
			margin: auto;
			max-width: 1440px;
			padding: 130px 32px 130px;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			z-index: 1;

			@include tablet {
				padding: 230px 70px 70px;
			}

			@include desktop {
				padding: 370px 32px 40px;
			}

			&__title {
				text-align: center;
				font-size: 3rem;
				margin-bottom: 32px;
				color: var(--color-footer-title);

				@include tablet {
					font-size: 5.5rem;
					margin-bottom: 48px;
				}

				@include desktop {
					font-size: 7.5rem;
					margin-bottom: 64px;
				}
			}

			&__subtitle {
				text-align: center;
				font-size: 1rem;
				margin-bottom: 56px;
				color: var(--color-footer-text);

				@include tablet {
					font-size: 1.5rem;
					max-width: 580px;
					margin-bottom: 80px;
				}

				@include desktop {
					font-size: 1.5rem;
					max-width: 580px;
					margin-bottom: 74px;
				}
			}

			&-links {
				gap: 1rem;
				list-style: none;
				padding-left: 0;
				display: none;

				@include tablet {
					margin-top: 200px;
					display: flex;
				}

				@include desktop {
					margin-top: 80px;
				}

				li {
					color: var(--color-btn-theme);
					transition: color 0.5s;

					a {
						all: unset;
						cursor: pointer;
					}

					&:hover {
						color: var(--color-accent);
						transition: color 0.5s;
					}

					button {
						transition: color 0.5s;

						&:hover {
							color: var(--color-accent);
							transition: color 0.5s;
						}
					}
				}
			}

			&__logo {
				position: absolute;
				color: var(--color-footer-icon);
				left: -10px;
				bottom: -10px;
				width: 620px;

				@include tablet {
					width: 1100px;
					left: -15px;
					bottom: -15px;
				}

				@include desktop {
					left: unset;
					right: -500px;
				}
			}

			&__info {
				margin-top: 56px;

				@include desktop {
					margin-top: 0px;
					position: absolute;
					right: 50px;
					bottom: 0;
				}

				a {
					padding-bottom: 22px;
					color: var(--color-copy);
					font-size: 1rem;
					font-weight: 400;
					line-height: 20px;
					text-align: left;
					display: flex;
					gap: 16px;
					transition: color 0.5s;
					cursor: pointer;
					text-decoration: none;

					@include desktop {
						&:hover {
							color: var(--color-accent);
							transition: color 0.5s;
						}
					}
				}
			}
		}
	}
</style>
