---
import Button from '../atoms/Button.astro';
import logo from '/logo.svg?raw';

const title = {
	highlight: 'Se identificou ',
	text: 'com algo que leu?',
};
const subtitle =
	'Entre em contato, pois estarei à sua disposição. Perguntas e problemas não devem ser ignorados, por menores que você acha que sejam. ';
const cta = {
	text: 'Entrar em contato',
	link: '#',
};
const links = [
	{
		img: 'https://via.placeholder.com/32x32',
		alt: 'Instagram',
		link: '#',
	},
	{
		img: 'https://via.placeholder.com/32x32',
		alt: 'Whatsapp',
		link: '#',
	},
	{
		img: 'https://via.placeholder.com/32x32',
		alt: 'Linkedin',
		link: '#',
	},
];
---

<footer>
	<div class="footer">
		<h2 class="footer__title"><span class="gradient">{title.highlight}</span>{title.text}</h2>
		<p class="footer__subtitle">{subtitle}</p>
		<Button text={cta.text} link={cta.link} />
		<ul class="footer-links">
			{
				links.map((link) => (
					<li>
						<a href={link.link}>
							<img src={link.img} alt={link.alt} />
						</a>
					</li>
				))
			}
		</ul>
	</div>
	<div class="footer__logo">
		<Fragment set:html={logo} />
	</div>
</footer>

<style lang="scss">
	@import '../../styles/_mixins.scss';

	footer {
		background: var(--color-footer-bg);
		position: relative;
		overflow: hidden;

		@include desktop {
			width: 100vw;
		}

		.footer {
			margin: auto;
			max-width: 1440px;
			padding: 130px 32px 130px;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			z-index: 1;

			@include tablet {
				padding: 230px 70px 70px;
			}

			@include desktop {
				padding: 370px 32px 90px;
			}

			&__title {
				text-align: center;
				font-size: 3rem;
				margin-bottom: 32px;
				color: var(--color-footer-title);

				@include tablet {
					font-size: 5.5rem;
					margin-bottom: 48px;
				}

				@include desktop {
					font-size: 7.5rem;
					margin-bottom: 64px;
				}
			}

			&__subtitle {
				text-align: center;
				font-size: 1rem;
				margin-bottom: 56px;
				color: var(--color-title);

				@include tablet {
					font-size: 1.5rem;
					max-width: 580px;
					margin-bottom: 80px;
				}

				@include desktop {
					font-size: 1.5rem;
					max-width: 580px;
					margin-bottom: 74px;
				}
			}

			&-links {
				gap: 1rem;
				list-style: none;
				padding-left: 0;
				display: none;

				@include tablet {
					margin-top: 200px;
					display: flex;
				}

				@include desktop {
					margin-top: 80px;
				}
			}

			&__logo {
				position: absolute;
				color: var(--color-footer-icon);
				left: -10px;
				bottom: -10px;
				width: 620px;

				@include tablet {
					width: 1100px;
					left: -15px;
					bottom: -15px;
				}

				@include desktop {
					left: unset;
					right: -500px;
				}
			}
		}
	}
</style>
