---
import Button from '../atoms/Button.astro';
import logo from '/logo.svg?raw';

const items = [
	{
		name: 'Início',
		link: '#inicio',
	},
	{
		name: 'Como posso te ajudar',
		link: '#ajuda',
	},
	{
		name: 'O que é Terapia',
		link: '#terapia',
	},
	{
		name: 'O processo',
		link: '#processo',
	},
];

const cta = {
	text: 'Agendar uma consulta',
	link: '#cta',
};

let activeLink = 'Início';
---

<header class="header">
	<div class="header__logo">
		<Fragment set:html={logo} />
	</div>
	<div class="header-links">
		{
			items.map((item) => (
				<a
					class={`header-links__link ${activeLink == item.name && 'header-links__link--active'}`}
					href={item.link}
				>
					{item.name}
				</a>
			))
		}
	</div>
	<Button text={cta.text} link={cta.link} isSmall={true} />
</header>

<style lang="scss">
	.header {
		display: flex;
		position: sticky;
		justify-content: space-between;
		align-items: center;
		top: 32px;
		max-width: 1285px;
		padding: 32px;
		border-radius: 20px;
		backdrop-filter: blur(10px);
		background-color: var(--color-header-bg);

		@media (min-width: 1200px) {
			padding: 45px;
		}

		&__logo {
			color: var(--color-title);
		}

		&-links {
			display: none;
			gap: 96px;

			@media (min-width: 1200px) {
				display: flex;
			}

			&__link {
				text-decoration: none;
				font-size: 1rem;
				font-weight: 600;
				color: var(--color-title);

				&--active {
					color: var(--color-accent);
				}
			}
		}
	}
</style>
