---
import Button from '../atoms/Button.astro';
import logo from '/icons/logo.svg?raw';
import hamb from '/icons/hamb.svg?raw';
import x from '/icons/x.svg?raw';

const items = [
	{
		name: 'Início',
		link: '#inicio',
	},
	{
		name: 'Como posso te ajudar',
		link: '#ajuda',
	},
	{
		name: 'O que é Terapia',
		link: '#valores',
	},
	{
		name: 'O processo',
		link: '#processo',
	},
];

const cta = {
	text: 'Agendar uma consulta',
	link: '#cta',
};
---

<script>
	let isMenuOpen = false;
	document.querySelector<HTMLElement>('.header__menu')!.addEventListener('click', () => {
		if (isMenuOpen) {
			document.querySelector<HTMLElement>('.menu')!.style.opacity = '0';
			setTimeout(() => {
				document.querySelector<HTMLElement>('.menu')!.style.display = 'none';
			}, 500);
			document.querySelector<HTMLElement>('.header__menu__open')!.style.display = 'block';
			document.querySelector<HTMLElement>('.header__menu__close')!.style.display = 'none';
		} else {
			document.querySelector<HTMLElement>('.menu')!.style.display = 'flex';
			setTimeout(() => {
				document.querySelector<HTMLElement>('.menu')!.style.opacity = '1';
			}, 1);
			document.querySelector<HTMLElement>('.header__menu__open')!.style.display = 'none';
			document.querySelector<HTMLElement>('.header__menu__close')!.style.display = 'block';
		}

		isMenuOpen = !isMenuOpen;
	});

	window.addEventListener('scroll', () => {
		if (window.innerWidth > 1200) {
			const header = document.querySelector<HTMLElement>('.header')!;
			const helpSection = document.querySelector<HTMLElement>('.sectionHelp')!;
			const headerHeight = header.offsetHeight;

			if (window.scrollY > helpSection.offsetTop - headerHeight) {
				header.style.opacity = '1';
			} else {
				header.style.opacity = '0';
			}
		}
	});

	window.addEventListener('resize', () => {
		if (window.innerWidth < 1200) {
			document.querySelector<HTMLElement>('.header')!.style.opacity = '1';
		}
	});
</script>

<header class="header">
	<div class="headerContainer">
		<div class="header__logo">
			<Fragment set:html={logo} />
		</div>
		<ul class="header-links">
			{
				items.map((item) => (
					<li>
						<a class={`header-links__link`} href={item.link}>
							{item.name}
						</a>
					</li>
				))
			}
		</ul>
		<div class="header__cta">
			<Button text={cta.text} link={cta.link} isSmall={true} />
		</div>
		<div class="header__menu">
			<button aria-label="Abrir menu">
				<span class="header__menu__open">
					<Fragment set:html={hamb} />
				</span>
				<span class="header__menu__close">
					<Fragment set:html={x} />
				</span>
			</button>
		</div>
	</div>
</header>

<style lang="scss">
	@import '../../styles/_mixins.scss';

	.header {
		position: sticky;
		z-index: 99;
		top: 32px;
		transition: opacity 0.5s;

		@include desktop {
			position: fixed;
			opacity: 0;
			width: 100vw;
			max-width: unset;
		}

		.headerContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 1285px;
			padding: 24px;
			border-radius: 20px;
			margin: 32px 50px 0;
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			background-color: (--color-header-bg);

			@include desktop {
				padding: 24px 45px;
				margin: 0 auto;
			}
		}

		&__logo {
			color: var(--color-title);
			height: 40px;
			width: 40px;
		}

		&-links {
			display: none;
			gap: 96px;

			@include desktop {
				display: flex;
			}

			&__link {
				text-decoration: none;
				font-size: 1rem;
				font-weight: 600;
				color: var(--color-title);
				transition: color 0.5s;

				&:hover {
					color: var(--color-accent);
					transition: color 0.5s;
				}

				&--active {
					color: var(--color-accent);
				}
			}
		}

		&__cta {
			display: none;

			@include desktop {
				display: block;
			}
		}

		&__menu {
			display: block;

			@include desktop {
				display: none;
			}

			button {
				all: unset;
			}

			&__close {
				display: none;
			}
		}
	}
</style>
