---
import Button from '../atoms/Button.astro';
import logo from '/logo.svg?raw';
import hamb from '/hamb.svg?raw';

const items = [
	{
		name: 'Início',
		link: '#inicio',
	},
	{
		name: 'Como posso te ajudar',
		link: '#ajuda',
	},
	{
		name: 'O que é Terapia',
		link: '#terapia',
	},
	{
		name: 'O processo',
		link: '#processo',
	},
];

const cta = {
	text: 'Agendar uma consulta',
	link: '#cta',
};

let activeLink = 'Início';
---

<header class="header">
	<div class="headerContainer">
		<div class="header__logo">
			<Fragment set:html={logo} />
		</div>
		<ul class="header-links">
			{
				items.map((item) => (
					<li>
						<a
							class={`header-links__link ${activeLink == item.name && 'header-links__link--active'}`}
							href={item.link}
						>
							{item.name}
						</a>
					</li>
				))
			}
		</ul>
		<div class="header__cta">
			<Button text={cta.text} link={cta.link} isSmall={true} />
		</div>
		<div class="header__menu">
			<button aria-label="Abrir menu">
				<Fragment set:html={hamb} />
			</button>
		</div>
	</div>
</header>

<style lang="scss">
	@import '../../styles/_mixins.scss';

	.header {
		position: sticky;
		z-index: 99;
		top: 32px;

		.headerContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 1285px;
			padding: 24px;
			border-radius: 20px;
			margin: 32px 50px 0;
			backdrop-filter: blur(10px);
			background-color: (--color-header-bg);

			@include desktop {
				padding: 24px 45px;
			}
		}

		&__logo {
			color: var(--color-title);
			height: 40px;
			width: 40px;
		}

		&-links {
			display: none;
			gap: 96px;

			@include desktop {
				display: flex;
			}

			&__link {
				text-decoration: none;
				font-size: 1rem;
				font-weight: 600;
				color: var(--color-title);

				&:hover {
					color: var(--color-accent);
				}

				&--active {
					color: var(--color-accent);
				}
			}
		}

		&__cta {
			display: none;

			@include tablet {
				display: block;
			}
		}

		&__menu {
			display: block;

			@include tablet {
				display: none;
			}

			button {
				all: unset;
			}
		}
	}
</style>
