---
import Button from '../atoms/Button.astro';
import moon from '/icons/moon.svg?raw';

const subtitle =
	'Acredito que a terapia é um processo de colaboração, onde eu estou aqui para oferecer orientação, apoio e estratégias, e você é o especialista em sua própria vida.';
const cta = {
	text: 'Agende uma consulta',
	link: '/contato',
};
const stats = [
	{
		title: 'horas atendidas',
		value: '4k+',
		numericValue: 4,
	},
	{
		title: 'paciente satisfeitos',
		value: '200+',
		numericValue: 200,
	},
	{
		title: 'no Google Review',
		value: '5.0',
		numericValue: 5,
	},
];
---

<script>
	const increment = (el: Element) => {
		if (el instanceof HTMLElement) {
			const target = Number(el.dataset.numeric);
			let count = 0;
			const increment = Math.ceil(target / 10);
			const interval = setInterval(() => {
				count += increment;
				el.textContent = count.toString();
				if (count >= target) {
					clearInterval(interval);
				}
			}, 50);
		}
	};

	const stats = document.querySelectorAll('.hero-stats__value');
	stats.forEach((stat) => {
		increment(stat);
	});
</script>

<section class="hero">
	<button class="hero__themeBtn changeThemeBtn" aria-label="Mudar tema">
		<Fragment set:html={moon} />
	</button>

	<div class="hero__title">
		<h1>
			Psicólogo especializado em
			<span class="gradient">terapia cognitivo-comportamental </span>
			para adolescentes e adultos.
		</h1>
	</div>
	<p class="hero__subtitle">{subtitle}</p>
	<div class="hero__cta">
		<Button text={cta.text} link={cta.link} fullWidth={true} />
	</div>
	<ul class="hero-stats">
		{
			stats.map((stat) => (
				<li>
					<div>
						<p class="hero-stats__value" data-numeric={stat.numericValue}>
							{stat.value}
						</p>
						<p class="hero-stats__description">{stat.title}</p>
					</div>
				</li>
			))
		}
		<img class="hero__imgMobile" src="https://via.placeholder.com/200x280" />
	</ul>
	<img class="hero__img" src="https://via.placeholder.com/560x800" />
	<div class="hero__shadow"></div>
</section>

<style lang="scss">
	@import 'src/styles/_mixins.scss';

	.hero {
		padding-left: 32px;
		padding-right: 32px;
		padding-top: 60px;
		position: relative;
		overflow-x: hidden;
		display: grid;

		grid-template-areas: 'title' 'stats' 'subtitle' 'cta';

		@include tablet {
			grid-template-areas: 'theme' 'title' 'subtitle' 'cta' 'stats';
			padding-top: 32px;
			margin-top: 8px;
			padding-left: 70px;
			padding-right: 70px;
		}

		@include desktop {
			padding-top: 142px;
			margin-top: 45px;
			padding-left: 32px;
			padding-right: 32px;
		}

		&__themeBtn {
			grid-area: theme;
			margin-bottom: 1rem;
			display: none;

			@include desktop {
				display: block;
			}
		}

		&__title {
			grid-area: title;
			backdrop-filter: blur(10px);
			border-radius: 20px;
			z-index: 1;

			@include tablet {
				background: var(--color-header-bg);
				width: 500px;
				padding: 32px 32px 32px 0;
			}

			@include desktop {
				width: 1000px;
				padding: 24px 24px 24px 0;
			}

			h1 {
				color: var(--color-title);
				font-size: 2rem;
				font-weight: bold;

				@include tablet {
					font-size: 2.5rem;
				}

				@include desktop {
					font-size: 3.5rem;
				}
			}
		}

		&__subtitle {
			grid-area: subtitle;
			color: var(--color-copy);
			font-size: 1rem;
			margin-top: 60px;
			margin-bottom: 40px;

			@include tablet {
				width: 400px;
				font-size: 1.25rem;
				margin-top: 16px;
				margin-bottom: 40px;
			}

			@include desktop {
				width: 646px;
				font-size: 1.5rem;
				margin-top: 24px;
				margin-bottom: 68px;
			}
		}

		&__cta {
			grid-area: cta;
		}

		&-stats {
			grid-area: stats;
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 44px;
			margin-top: 24px;

			@include tablet {
				flex-direction: row;
				justify-content: center;
				gap: 100px;
				margin: 110px 0 30px;
			}

			@include desktop {
				margin: 400px 0 300px;
			}

			&__value {
				margin-top: 0;
				font-weight: 500;
				font-size: 2rem;
				margin-bottom: 8px;
				padding-left: 8px;
				background: var(--color-accent-gradient);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;

				@include tablet {
					text-align: center;
					font-size: 2rem;
					margin-bottom: 16px;
				}

				@include desktop {
					font-size: 3rem;
				}
			}

			&__description {
				margin-top: 0;
				font-weight: 500;
				font-size: 1rem;
				color: var(--color-title);

				@include tablet {
					text-align: center;
					font-size: 1rem;
				}

				@include desktop {
					font-size: 2rem;
				}
			}
		}

		&__img {
			display: none;
			position: absolute;
			top: 0;
			right: 0;

			@include tablet {
				display: block;
				width: 240px;
				height: 340px;
			}

			@include desktop {
				width: 560px;
				height: 800px;
			}
		}

		&__imgMobile {
			display: block;
			position: absolute;
			width: 200px;
			height: 280px;
			top: 0;
			right: -80px;
			border-radius: 20px;

			@include tablet {
				right: 0;
				display: none;
			}
		}

		&__shadow {
			display: none;

			@include desktop {
				display: block;
				position: absolute;
				width: 560px;
				height: 800px;
				opacity: 0.5;
				border-radius: 50%;
				filter: blur(100px);
				background-color: rgba(252, 114, 71, 1);
				z-index: -1;
				right: 0;
				top: 0;
			}
		}
	}
</style>
