---
import Button from '../atoms/Button.astro';

const subtitle =
	'Acredito que a terapia é um processo de colaboração, onde eu estou aqui para oferecer orientação, apoio e estratégias, e você é o especialista em sua própria vida.';
const cta = {
	text: 'Agende uma consulta',
	link: '/contato',
};
const stats = [
	{
		title: 'horas atendidas',
		value: '4k+',
	},
	{
		title: 'paciente satisfeitos',
		value: '200+',
	},
	{
		title: 'no Google Review',
		value: '5.0',
	},
];
---

<section class="hero">
	<div class="hero__title">
		<h1>
			Psicólogo especializado em
			<span class="gradient">terapia cognitivo-comportamental </span>
			para adolescentes e adultos.
		</h1>
	</div>
	<p class="hero__subtitle">{subtitle}</p>
	<Button text={cta.text} link={cta.link} />
	<div class="hero-stats">
		{
			stats.map((stat) => (
				<div>
					<p class="hero-stats__value">{stat.value}</p>
					<p class="hero-stats__description">{stat.title}</p>
				</div>
			))
		}
		<img class="hero__imgMobile" src="https://via.placeholder.com/200x280" />
	</div>
	<img class="hero__img" src="https://via.placeholder.com/560x800" />
</section>

<style lang="scss">
	.hero {
		padding-left: 32px;
		padding-right: 32px;
		padding-top: 60px;
		position: relative;
		display: grid;

		grid-template-areas: 'title' 'stats' 'subtitle' 'cta';

		@media (min-width: 1200px) {
			grid-template-areas: 'title' 'subtitle' 'cta' 'stats';
			padding-top: 142px;
		}

		&__title {
			grid-area: title;
			background: var(--color-header-bg);
			backdrop-filter: blur(10px);
			border-radius: 20px;
			z-index: 1;

			@media (min-width: 1200px) {
				width: 1000px;
				padding: 24px 0;
			}

			h1 {
				color: var(--color-title);
				font-size: 2rem;
				font-weight: bold;

				@media (min-width: 1200px) {
					font-size: 3.5rem;
				}
			}
		}

		&__subtitle {
			grid-area: subtitle;
			color: var(--color-copy);
			font-size: 1rem;
			margin-top: 60px;
			margin-bottom: 40px;

			@media (min-width: 1200px) {
				width: 646px;
				font-size: 1.5rem;
				margin-top: 24px;
				margin-bottom: 68px;
			}
		}

		&-stats {
			grid-area: stats;
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 44px;
			margin-top: 24px;

			@media (min-width: 1200px) {
				flex-direction: row;
				justify-content: center;
				gap: 100px;
				margin: 400px 0 300px;
			}

			&__value {
				margin-top: 0;
				font-weight: 500;
				font-size: 2rem;
				margin-bottom: 8px;
				padding-left: 8px;
				color: var(--color-accent);

				@media (min-width: 1200px) {
					text-align: center;
					font-size: 3rem;
					margin-bottom: 16px;
				}
			}

			&__description {
				margin-top: 0;
				font-weight: 500;
				font-size: 1rem;
				color: var(--color-title);

				@media (min-width: 1200px) {
					text-align: center;
					font-size: 2rem;
				}
			}
		}

		&__img {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			width: 560px;
			height: 800px;

			@media (min-width: 1200px) {
				display: block;
			}
		}

		&__imgMobile {
			display: block;
			position: absolute;
			width: 200px;
			height: 280px;
			top: 0;
			right: 0;

			@media (min-width: 1200px) {
				display: none;
			}
		}
	}
</style>
