---
import Button from '../atoms/Button.astro';
import moon from '/icons/moon-filled.svg?raw';
import linkedin from '/icons/linkedin.svg?raw';
import instagram from '/icons/instagram.svg?raw';
import whatsapp from '/icons/whatsapp.svg?raw';

const items = [
	{
		title: 'Início',
		link: '#inicio',
	},
	{
		title: 'Sobre mim',
		link: '#sobre-mim',
	},
	{
		title: 'O processo',
		link: '#processo',
	},
	{
		title: 'Clínica',
		link: '#clinica',
	},
	{
		title: 'FAQ',
		link: '#faq',
	},
];

const cta = {
	text: 'Agendar consulta',
};
---

<script>
	document.querySelectorAll('.menu-links__item').forEach((item) => {
		item.addEventListener('click', () => {
			document.querySelector<HTMLElement>('.header__menu')!.click();
		});
	});
</script>

<div class="menu">
	<ul class="menu-links">
		{
			items.map((item) => (
				<li>
					<a class="menu-links__item" href={item.link}>
						{item.title}
					</a>
				</li>
			))
		}
	</ul>

	<div class="menu__cta">
		<Button text={cta.text} isSmall={true} />
	</div>

	<ul class="menu-socials">
		<li>
			<a href="#" aria-label="linkedin">
				<fragment set:html={linkedin} />
			</a>
		</li>
		<li>
			<a href="#" aria-label="instagram">
				<fragment set:html={instagram} />
			</a>
		</li>
		<li>
			<a href="#" aria-label="whatsapp">
				<fragment set:html={whatsapp} />
			</a>
		</li>
		<li>
			<button class="changeThemeBtn" aria-label="mudar tema">
				<fragment set:html={moon} />
			</button>
		</li>
	</ul>
</div>

<style lang="scss">
	.menu {
		display: none;
		opacity: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		height: 100dvh;
		background: var(--color-menu-bg);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 98;
		padding-top: 3rem;
		transition: all 0.5s;

		&-links {
			display: flex;
			flex-direction: column;
			gap: 8px;

			&__item {
				color: var(--color-menu-links);
				text-decoration: none;
				font-size: 3.5rem;
				font-weight: 700;
			}
		}

		&__cta {
			margin-top: 40px;
			width: 280px;
		}

		&-socials {
			display: flex;
			gap: 16px;
			margin-top: 64px;

			li {
				list-style: none;
				color: var(--color-btn-theme);

				a {
					all: unset;
					cursor: pointer;
				}

				.changeThemeBtn {
					padding: 0;
				}
			}
		}
	}
</style>
